<div id="leftMenu">
{{#authenticated}}
	{{#admin}}
	<h4 class="dmt"><a href="/users"><span class="icon-users"></span> Users</a></h4>
	{{/admin}}
	<h4 class="dmt"><a href="/profile"><span class="icon-user"></span> My Profile</a></h4>
	<h4 class="dmt"><a href="/logout"><span class="icon-warning"></span> Logout</a></h4>
{{/authenticated}}
</div>

